@import 'intro.css';

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  border-top: 4px solid black;
  background: whitesmoke;
  overflow-x: hidden;
  overflow-y: visible;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 15px;
  font-family: 'Cutive Mono', 'monospace';
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

h1, h2, h3, p {
  font-weight: 400;
}

@media  (max-width: 640px) {
  body {
    font-size: 15px;
  }
}

header {
}

footer {
  /*background:url(../images/stripes.png);*/
  background-image: linear-gradient(-45deg, black 3%, transparent 3%, transparent 50%, black 50%, black 53%, transparent 53%, transparent);
  background-size: 16px 16px;
  padding: 50px 0 50px 0;
}

footer a {
  background: whitesmoke;
}

strong {
  font-weight: normal;
  background-color: yellow;
}

/* About */

section {
   /*background-image: url("../images/nausicaa11.jpg");*/
   margin: auto;
   padding: 10px 15px 50px 15px;
   max-width: 960px
}

article {
  width: 100%;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

article.one {
  width: 60%;
  -webkit-column-count: 1;
     -moz-column-count: 1;
          column-count: 1;
}

.Grid article{
  margin: auto;
  width: 80%;
  -webkit-column-count: 1;
     -moz-column-count: 1;
          column-count: 1;
}

 @media (max-width: 640px) {
  article {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
}

aside {
  width: 70%;
  font-size: 0.9em;
  margin: auto;
  margin-top: 6em;
  margin-bottom: 3em;
  padding: 3em 5em 3em 5em;
  border: 1px dashed black;
}

 @media (max-width: 640px) {
  aside {
    width: 90%;
    margin-top: 2em;
    padding: 1em 1em 1em 1em;
  }
}

img {
   display: block;
   width: 150px;
   margin: auto;
   margin-top: 3em;
   margin-bottom: 6em;
 }

.teacher {
  margin-top: 2em;
  margin-bottom: 2em;
  max-width: 500px;
  margin-left: 0;
}

.teacher img {
  display: block;
  width: 100px;
  margin: 0;
  padding: 0;
  margin-top: -1em;
  margin-left: 0;
  margin-right: 2em;
  margin-bottom: 0;
  border-radius: 50px;
  float: left;
}

@media (max-width: 639px) {
  .teacher img {
    width: 70px;
    border-radius: 35px;
    margin-top: 0;
    margin-bottom: 3em;
  }
}

article img {
  width: 95%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em 0.3em 1em 0;
}

h3, p, table {
   font-size: 1.2em;
   /*text-transform: uppercase;*/
   line-height: 1.5em;
   letter-spacing: 0;
   color: black;
   margin: auto;
   padding: 1em 0.3em 1em 0.3em;
}

span {
  line-height: 1.5em;
}

table {
  margin-top: 1.3em;
  margin-bottom: 1.3em;
  min-width: 260px;
  max-width: 260px;
}

header a {
  position: relative;
  padding: 0.5em 0.5em 0.5em 0.7em;
  font-size: 2em;
}

header a.link {
  float: right;
  position: relative;
  padding: 0.5em 0.3em 0.5em 0.3em;
  font-size: 1.5em;
  line-height: 2em;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: black;
}

@media  (min-width: 450px) {
  header a.link {
    float: right;
    position: relative;
    padding: 0.5em 1em 0.5em 0.7em;
    font-size: 1.5em;
    line-height: 2em;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: black;
  }
}

header a.arrow:hover {
  right: 0.2em;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: line-through;
}

p a {
  text-decoration: underline;
}

@media (max-width: 640px) {
 blockquote {
   margin: 0;
 }
}

blockquote > p {
  padding-top: 0;
  font-style: normal;
  font-size: 1.4em;
  margin-top: 5em;
  margin-bottom: 3em;
  max-width: 80%;
}

footer > div {
  margin: auto;
  width: 600px;
  max-width: 100%;
  text-align: center;
}

footer p, footer a {
  line-height: 2em;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: black;
}

footer .contacts a {
  line-height: 2em;
  font-size: 1.1em;
  text-transform: none;
  letter-spacing: 0;
  color: black;
}

footer .contacts {
  margin-top: 1em;
}

footer img {
  opacity: 1;
  max-width: 50px;
  margin: 3em auto 0 auto;
  padding: 0;
}

section h1.big {
  font-size: 3em;
  padding: 0;
  margin: 0.5em 0 0.5em 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 400;
}

section h2 {
  margin: 0;
  font-size: 2em;
  padding: 0 0 3em 0;
  font-weight: 400;
}

.Grid h2 {
  font-size: 1.2em;
  padding: 0;
  line-height: 1.3em;
}

.Grid p {
  font-size: 1em;
}


@media (max-width: 640px) {
  section h1.big {
    font-size: 2em;
  }
  section h2 {
    font-size: 1.5em;
  }
  section h3 {
    font-size: 1.3em;
  }
  .Grid p {
    font-size: 0.9em;
  }
 .Grid img {

 }
}

.highlight {
  background-color: yellow;
  font-style: normal;
}

.important {
  font-style: normal;
  font-size: 1em;
  text-decoration: underline;
  /*background-color: rgba(255,255,0,0.5);*/
}

@media  (max-width: 640px) {
  footer > div {
    width: 90%;
    padding-bottom: 5px;
  }
  footer  p {
    padding-top: 0;
  }
}

section.corsi {
  /*max-width: 760px;*/
  border-top: 4px double black;
  margin: 3em auto 3em auto;
}

@media  (max-width: 640px) {
  section.corsi {
    border-top: 4px double black;
    margin: 1em 0.5em 1em 0.5em;
  }
}

ul {
  list-style: none;
}

li {
  font-size: 1rem;
}

.corsi ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.corsi li {
  font-size: 1rem;
  padding: 2em 0 2em 0;
  /*border-bottom: 1px dashed black;*/
}

.corsi li:hover {
  background-color: yellow;
}

.corsi a:hover {
  text-decoration: none;
}

.corsi h1 {
  text-align: center;
}

.corsi li {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

/* GRID */

.Grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
            -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

@media  (max-width: 599px) {
  .Grid {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

@media  (min-width: 600px) {
  .Grid {
    max-width: 600px;
  }
}

@media  (min-width: 760px) {
  .Grid {
    max-width: 760px;
  }
}

@media  (min-width: 900px) {
  .Grid {
    max-width: 900px;
  }
}

@media  (min-width: 1200px) {
  .Grid {
    max-width: 1200px;
  }
}

.Grid-cell-post {
  width: 33%;
  max-width: 460px;
  min-width: 300px;
  /*min-height: 300px;*/
  height: auto;
  padding: 10px 1rem 3rem 1rem;
}

.Grid img {
  float: left;
  width: 100px;
  border-radius: 10px;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

@media (max-width: 640px) {
 .Grid img {
   margin-bottom: 0;
 }
}