---
layout: about
---
<article class="insegnante">
	{% include insegnanti/barbara-scalco.html %}
	<!--<ul>
		<li>
			<p>Corsi tenuti</p>
			<p>Fascia di età</p>
			<p>Data di presentazione</p>
		</li>
		<li>
			<p><a href="corsi/laboratorio_teatrale_bambini.html">Lab di recitazione per bambini</a></p>
			<p>Bambini</p>
			<p>10/11 Ottobre 2018</p>
		</li>
		<li>
			<p><a href="corsi/laboratorio_teatrale_ragazzi.html">Lab di recitazione per ragazzi</a></p>
			<p>Ragazzi</p>
			<p>12 Ottobre 2018</p>
		</li>
	</ul>-->
</article>

<!--<article class="insegnante">
{% include insegnanti/Eleonora_Fraccaro.html %}
</article>-->

<article class="insegnante">
{% include insegnanti/Francesca_Tres.html %}
</article>

<!--<article class="insegnante">
{% include insegnanti/Stefano_Dallas.html %}
</article>-->

<!--<article class="insegnante">
{% include insegnanti/Anita_Orso.html %}
</article>-->

<article class="insegnante">
{% include insegnanti/anna_bortignon.html %}
</article>
