<section class="corsi">
  <h1>I nostri corsi</h1>
  <ul>
    <a href="/corsi/lab_maschere_in_cuoio.html"><li>
      <span>Laboratorio di costruzione della maschera in cuoio</span>
      <span>16-17 Aprile</span>
    </li></a>
    <a href="/corsi/lab_commedia_dellarte.html"><li>
      <span>Laboratorio di Commedia dell'Arte</span>
      <span>30 Aprile - 1 Maggio</span>
    </li></a>
    <a href="/corsi/laboratorio_teatrale_bambini.html"><li>
      <span>Esploriamo il teatro: laboratorio teatrale per bambini</span>
      <span>Ott.2015 - Mag.2016</span>
    </li></a>
    <a href="/corsi/laboratorio_teatrale_ragazzi.html"><li>
      <span>Sul palcoscenico: laboratorio teatrale per ragazzi</span>
      <span>Ott.2015 - Mag.2016</span>
    </li></a>
    <a href="/corsi/laboratorio_teatrale_adulti.html"><li>
      <span>Laboratorio teatrale per adulti</span>
      <span>Date da definire</span>
    </li></a>
  </ul>
</section>
