<section class="corsi">
  <h1>I nostri corsi</h1>
    <ul class="Grid">

      <li class="Grid-cell-post">
        <a href="/corsi/laboratorio_teatrale_bambini.html"><article>
          <h2>
            Esploriamo il teatro: <b>laboratorio teatrale per bambini</b>
          </h2>
          <img src="/images/Bambini_376.png">
          <p>
            Verranno utilizzati diversi giochi teatrali utili a sviluppare le capacità creative e la fantasia.
          </p>
          <span>Ott.2017 - Mag.2018</span>
        </article></a>
      </li>

      <li class="Grid-cell-post">
        <a href="/corsi/laboratorio_teatrale_ragazzi.html"><article>
          <h2>
            Sul palcoscenico: <b>laboratorio teatrale per ragazzi</b>
          </h2>
          <img src="/images/Ragazzi_376.png">
          <p>
            L’obiettivo del corso per ragazzi è promuovere la scoperta del teatro attraverso il gioco ed esercizi mirati.
          </p>
          <span>Ott.2017 - Mag.2018</span>
        </article></a>
      </li>
      
      <li class="Grid-cell-post">
        <a href="/corsi/corso_burla_meccanismicomici.html"><article>
          <h2>
            Corso di recitazione <b>"La burla e i meccanismi comici"</b> con Stivalaccio Teatro
          </h2>
          <img src="/images/stivalaccio_malato2_376.png">
          <p>
            Ci divertiremo a creare cascate d’incidenti, mondi fantastici che si costruiscono e distruggono attraverso la pantomima e l’evocazione sonora.
      Lavoreremo sull’invenzione verbale e fisica, sul paradosso e sulla creazione di scene corali prendendo spunto dalla quotidianità.
      Energia, fantasia, ritmo e ascolto saranno i punti chiave del nostro lavoro.
          </p>
          <p>
            Corso in collaborazione con Stivalaccio Teatro.
          </p>
          <span> 10 incontri (20:30 - 22:30) a partire da martedì 16 gennaio</span>
        </article></a>
      </li>

      <li class="Grid-cell-post">
        <a href="/corsi/lab_improvvisazione_teatrale.html"><article>
          <h2>
            Lab. di Improvvisazione teatrale <b>"QUI E ORA"</b>
          </h2>
          <img src="/images/claudia_375.png">
          <p>
            L’improvvisazione teatrale è una disciplina affascinante e coinvolgente che si basa sul concetto del “qui e ora”, luogo e attimo in cui si diventa contemporaneamente attori, autori e registi di se stessi e del gruppo.
          </p>
          <p>
            In collaborazione con Claudia Gafá dell'Associazione Culturale CambiScena di Padova
          </p>
          <span>Serata di presentazione: 10 ottobre ore 20:30</span>
        </article></a>
      </li>
      
      <li class="Grid-cell-post">
        <a href="/corsi/Seminario_francesco.html"><article>
          <h2>
            Seminario di Recitazione <b>"Dal testo alla macchina da presa"</b> con Francesco De Vito
          </h2>
          <img src="/images/francesco2_376.png">
          <p>
           Il seminario si propone di affrontare l'analisi a 360° del personaggio e del testo dentro al quale è inserito.
            Verrà approfondito l'uso del gesto psicologico e il rapporto diretto con la macchina da presa.
          </p>
          <p> In collaborazione con l'attore Francesco De Vito. Fra la sua filmografia ricordiamo: Un paese quasi perfetto (2016), Ce n'è per tutti (2009), Senza amore (2007), Cuore Sacro (2005), La Passione di Cristo (2004).
             </p>
            <span>19/20/21 gennaio 2018</span>
          </article></a>
      </li>
      
      <li class="Grid-cell-post">
        <a href="/corsi/Seminario_vittorio_attene.html"><article>
          <h2>
            Seminario <b>"Il corpo e l'azione"</b> con Vittorio Attene
          </h2>
          <img src="/images/vittorio_376.png">
          <p>
            Nel percorso affronteremo, oltre a una lunga preparazione fisica in cui si esploreranno le diverse potenzialità di controllo ed espressive del nostro corpo,  il modo di connettere il corpo con la parola al fine trovare quella verità necessaria per interpretare qualsiasi ruolo.
          </p>
            <span>2/3/4 Marzo 2018</span>
          </article></a>
      </li>
      
      <li class="Grid-cell-post">
        <a href="/corsi/workshop_di_combattimento_scenico.html"><article>
          <h2>
            Workshop di <b>Combattimento Scenico</b>
          </h2>
          <img src="/images/combattimento_scenico.jpg">
          <p>
            L'arte dei duelli, del combattimento scenico a mani nude e con armi non convenzionali.
          </p>
            <span>3-4 Dic.2016 18-19 Feb.2017 20-21 Mag.2017</span>
          </article></a>
      </li>
      
      <li class="Grid-cell-post">
        <a href="/corsi/workshop_di_Mimo_con_Elena_Serra.html"><article>
          <h2>
            Workshop di <b>Mimo</b> con Elena Serra
          </h2>
          <img src="/images/mimo_1_376.jpg">
          <p>
            Un viaggio attraverso il LINGUAGGIO UNIVERSALE dell'attore corporeo. Come per il musicista, l'attore deve poter tradurre il movimento 
            attraverso una musicalità e una tecnica che traducano le emozioni universali.
          </p>
            <span>13/14/15 Aprile 2018</span>
          </article></a>
      </li>
      
      <li class="Grid-cell-post">
        <a href="/corsi/workshop_di_Commedia_dell'_Arte_con_Carlo_Boso.html"><article>
          <h2>
            Workshop di <b>Commedia dell'Arte</b> con Carlo Boso
          </h2>
          <img src="/images/boso_576.jpg">
          <p>
            Lavoro sul canovaccio, meccanismi della Commedia dell'Arte, improvvisazione e maschere. Un week end con il maestro Carlo Boso, massimo esponente di questa forma teatrale.
          </p>
            <span>2018 (date da definire)</span>
          </article></a>
      </li>
      
      <li class="Grid-cell-post">
        <a href="/corsi/Seminario_di_Recitazione_Naturale.html"><article>
          <h2>
            Seminario di <b>Recitazione Naturale</b> diretto da Jorgelina Depetris
          </h2>
          <img src="/images/depretis_576.png">
          <p>
            Seminario rivolto ad attori professionisti. Quello della Recitazione Naturale è un metodo in costante evoluzione, parte dall'immaginazione e dalla ricerca del naturale attraverso il movimento che ci propone il corpo.
          </p>
            <span>22/23/24/25 marzo 2018</span>
          </article></a>
      </li>
      
      <li class="Grid-cell-post">
        <a href="/corsi/lab_dizione_interpretazione.html"><article>
          <h2>
            Corso di <b>Dizione e Interpretazione</b>
          </h2>
          <img src="/images/dizione_thumb.jpg">
          <p>
            Il corso fornisce gli strumenti per acquisire una pronuncia chiara e corretta e per valorizzare la propria voce ai fini di una lettura espressiva.
          </p>
          <span>Secondo livello a partire da mercoledì 10 gennaio 2018</span>
        </article></a>
      </li>

      <li class="Grid-cell-post">
        <a href="/corsi/lab_maschere_in_cuoio.html"><article>
          <h2>
            Workshop di <b>Costruzione della maschera in cuoio</b>
          </h2>
          <img src="/images/sindoca_thumb.jpg">
          <p>
            "Ridare vita ad una pelle animale che può prendere altre forme, altre sembianze", Renzo Sindoca.
          </p>
          <span>2018 5/6 maggio 2018</span>
        </article></a>
      </li>

    </ul>

</section>
