<section class="corsi">
  <h1>I nostri corsi</h1>
  <ul>
    <a href="/corsi/laboratorio_teatrale_bambini.html"><li>
      <span>Esploriamo il teatro: laboratorio teatrale per bambini</span>
      <span>Ott.2015 - Mag.2016</span>
    </li></a>
    <a href="/corsi/laboratorio_teatrale_ragazzi.html"><li>
      <span>Sul palcoscenico: laboratorio teatrale per ragazzi</span>
      <span>Ott.2015 - Mag.2016</span>
    </li></a>
    <a href="/corsi/laboratorio_teatrale_adulti.html"><li>
      <span>Laboratorio teatrale per giovani adulti</span>
      <span>Date da definire</span>
    </li></a>
  </ul>
</section>
