<section class="double-top">
	<ul class="Grid">
		<li>
			{% include corsi/laboratorio-recitazione-bambini.html %}
		</li>
		<li>
			{% include corsi/laboratorio-recitazione-ragazzi.html %}
		<!--<li>

			{% include corsi/VOCI.html %}
		</li>-->
		<!--<li>
			{% include corsi/progetto_what_if.html %}
		</li>-->
		<li>
			{% include corsi/Il_viaggio.html %}
		</li>
		<!--<li>
			{% include corsi/teatro_inglese.html %}
		</li>-->
		<li>
			{% include corsi/laboratorio_musical.html %}
		</li>
		<li>
			{% include corsi/the_play.html %}
		</li>
		<li>
			{% include corsi/laboratorio-danza-teatro.html %}
		</li>
		<li>
			{% include corsi/laboratorio-canto-moderno-pop-rock.html %}
		</li>
		<!--<li>
			{% include corsi/burla-meccanismi-comici.html %}
		</li>-->
		<li>
			{% include corsi/laboratorio-improvvisazione-teatrale.html %}
		</li>
		<!--<li>
			{% include corsi/scrittura_creativa.html %}
		</li>-->
		<!--<li>
			{% include corsi/scrittura_creativa_intermedio.html %}
		</li>-->
		<li>
			{% include corsi/scrittura_creativa_avanzato.html %}
		</li>
		<li>
			{% include corsi/corso-dizione-interpretazione.html %}
		</li>
		<li>
			{% include corsi/dizione_online.html %}
		</li>
		<!--<li>
			{% include corsi/laboratorio-cinema.html %}
		</li>-->
	</ul>
</section>
