<section class="gallery">
  <h1>Esplora la galleria</h1>
  <ul class="Grid" id="gallery-container">

    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0010.jpg">
      <img src="/images/gallery/galleria_1.jpg" />
    </li>

    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0015.jpg">
      <img src="/images/gallery/galleria_2.jpg" />
    </li>

    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0018.jpg">
      <img src="/images/gallery/galleria_3.jpg" />
    </li>

    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0021.jpg">
      <img src="/images/gallery/galleria_4.jpg" />
    </li>

    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0023.jpg">
      <img src="/images/gallery/galleria_5.jpg" />
    </li>

    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0036.jpg">
      <img src="/images/gallery/galleria_6.jpg" />
    </li>

    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0055.jpg">
      <img src="/images/gallery/galleria_7.jpg" />
    </li>

    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0061.jpg">
      <img src="/images/gallery/galleria_8.jpg" />
    </li>

    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0069.jpg">
      <img src="/images/gallery/galleria_9.jpg" />
    </li>
    
    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0069.jpg">
      <img src="/images/gallery/galleria_10.jpg" />
    </li>
    
    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0069.jpg">
      <img src="/images/gallery/galleria_11.jpg" />
    </li>
    
    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0069.jpg">
      <img src="/images/gallery/galleria_12.jpg" />
    </li>
    
    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0069.jpg">
      <img src="/images/gallery/galleria_13.jpg" />
    </li>

    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0069.jpg">
      <img src="/images/gallery/galleria_14.jpg" />
    </li>
    
    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0069.jpg">
      <img src="/images/gallery/galleria_15.jpg" />
    </li>
    
  </ul>
</section>
<script src="/js/lightgallery.min.js"></script>
<script>
    lightGallery(document.getElementById('gallery-container'));
</script>
