<section class="gallery">
	<a name="gallery"></a>
	<h1>Esplora la galleria</h1>
	<ul class="Grid" id="gallery-container">
		<li class="Grid-cell-gallery" data-src="/gallery/1920/031_1920.jpg">
			<img src="/gallery/300/031_300.jpg" />
			<li class="Grid-cell-gallery" data-src="/gallery/1920/032_1920.jpg">
			<img src="/gallery/300/032_300.jpg" />
				<li class="Grid-cell-gallery" data-src="/gallery/1920/001.jpg">
			<img src="/gallery/300/001.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/002.jpg">
			<img src="/gallery/300/002.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/003.jpg">
			<img src="/gallery/300/003.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/004.jpg">
			<img src="/gallery/300/004.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/005.jpg">
			<img src="/gallery/300/005.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/006.jpg">
			<img src="/gallery/300/006.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/007.jpg">
			<img src="/gallery/300/007.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/008.jpg">
			<img src="/gallery/300/008.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/009.jpg">
			<img src="/gallery/300/009.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/010.jpg">
			<img src="/gallery/300/010.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/011.jpg">
			<img src="/gallery/300/011.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/012.jpg">
			<img src="/gallery/300/012.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/013.jpg">
			<img src="/gallery/300/013.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/014.jpg">
			<img src="/gallery/300/014.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/015.jpg">
			<img src="/gallery/300/015.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/016.jpg">
			<img src="/gallery/300/016.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/017.jpg">
			<img src="/gallery/300/017.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/018.jpg">
			<img src="/gallery/300/018.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/019.jpg">
			<img src="/gallery/300/019.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/020.jpg">
			<img src="/gallery/300/020.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/m1_1920.jpg">
			<img src="/gallery/300/m1_300.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/022_1920.jpg">
			<img src="/gallery/300/022_300.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/023_1920.jpg">
			<img src="/gallery/300/023_300.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/024_1920.jpg">
			<img src="/gallery/300/024_300.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/025_1920.jpg">
			<img src="/gallery/300/025_300.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/026_1920.jpg">
			<img src="/gallery/300/026_300.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/027_1920.jpg">
			<img src="/gallery/300/027_300.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/028_1920.jpg">
			<img src="/gallery/300/028_300.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/029_1920.jpg">
			<img src="/gallery/300/029_300.jpg" />
		</li>
		<li class="Grid-cell-gallery" data-src="/gallery/1920/030_1920.jpg">
			<img src="/gallery/300/030_300.jpg" />
		</li>
	</ul>
</section>
<script src="/js/lightgallery.min.js"></script>
<script>
		lightGallery(document.getElementById('gallery-container'));
</script>
