<section class="gallery">
  <h1>Esplora la galleria</h1>
  <ul class="Grid" id="gallery-container">

    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0010.jpg">
      <img src="/images/gallery/DSC_0010.jpg" />
    </li>

    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0015.jpg">
      <img src="/images/gallery/DSC_0015.jpg" />
    </li>

    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0018.jpg">
      <img src="/images/gallery/DSC_0018.jpg" />
    </li>

    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0021.jpg">
      <img src="/images/gallery/DSC_0021.jpg" />
    </li>

    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0023.jpg">
      <img src="/images/gallery/DSC_0023.jpg" />
    </li>

    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0036.jpg">
      <img src="/images/gallery/DSC_0036.jpg" />
    </li>

    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0055.jpg">
      <img src="/images/gallery/DSC_0055.jpg" />
    </li>

    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0061.jpg">
      <img src="/images/gallery/DSC_0061.jpg" />
    </li>

    <li class="Grid-cell-gallery" data-src="/images/gallery/DSC_0069.jpg">
      <img src="/images/gallery/DSC_0069.jpg" />
    </li>

    <li class="Grid-cell-gallery hidden" data-src="/images/gallery/DSC_0085.jpg">
    </li>

    <li class="Grid-cell-gallery hidden" data-src="/images/gallery/DSC_0088.jpg">
    </li>

    <li class="Grid-cell-gallery hidden" data-src="/images/gallery/DSC_0092.jpg">
    </li>

    <li class="Grid-cell-gallery hidden" data-src="/images/gallery/DSC_0101.jpg">
    </li>

    <li class="Grid-cell-gallery hidden" data-src="/images/gallery/DSC_0113.jpg">
    </li>

    <li class="Grid-cell-gallery hidden" data-src="/images/gallery/DSC_0124.jpg">
    </li>

    <li class="Grid-cell-gallery hidden" data-src="/images/gallery/DSC_0130.jpg">
    </li>

    <li class="Grid-cell-gallery hidden" data-src="/images/gallery/DSC_0137.jpg">
    </li>

    <li class="Grid-cell-gallery hidden" data-src="/images/gallery/DSC_0138.jpg">
    </li>

    <li class="Grid-cell-gallery hidden" data-src="/images/gallery/DSC_0147.jpg">
    </li>

    <li class="Grid-cell-gallery hidden" data-src="/images/gallery/DSC_0151.jpg">
    </li>

    <li class="Grid-cell-gallery hidden" data-src="/images/gallery/DSC_0163.jpg">
    </li>

    <li class="Grid-cell-gallery hidden" data-src="/images/gallery/DSC_0178.jpg">
    </li>

    <li class="Grid-cell-gallery hidden" data-src="/images/gallery/DSC_0184.jpg">
    </li>

    <li class="Grid-cell-gallery hidden" data-src="/images/gallery/DSC_0198.jpg">
    </li>

    <li class="Grid-cell-gallery hidden" data-src="/images/gallery/DSC_0207.jpg">
    </li>

    <li class="Grid-cell-gallery hidden" data-src="/images/gallery/DSC_0221.jpg">
    </li>

    <li class="Grid-cell-gallery hidden" data-src="/images/gallery/DSC_0007.jpg">
    </li>

  </ul>
</section>
<script src="/js/lightgallery.min.js"></script>
<script>
    lightGallery(document.getElementById('gallery-container'));
</script>
