<!--
	Credits: Mary Lou | https://tympanus.net/
	Url: https://tympanus.net/codrops/2013/03/05/horizontal-drop-down-menu/
-->
<nav id="cbp-hrmenu" class="cbp-hrmenu">
	<ul>
		<li class="cbp-hropen">
			<a href="#">Corsi</a>
			<div class="cbp-hrsub">
				<div class="cbp-hrsub-inner"> 
					<div>
						<h4>Bambini</h4>
						<ul>
							<li><a href="#">Catch the Bullet Catch the Bullet</a></li>
							<li><a href="#">Snoopydoo</a></li>
							<li><a href="#">Fallen Angel</a></li>
							<li><a href="#">Sui Maker</a></li>
							<li><a href="#">Wave Master</a></li>
							<li><a href="#">Golf Pro</a></li>
						</ul>
					</div>
					<div>
						<h4>Ragazzi</h4>
						<ul>
							<li><a href="#">Gadget Finder</a></li>
							<li><a href="#">Green Tree Express</a></li>
							<li><a href="#">Green Tree Pro</a></li>
							<li><a href="#">Wobbler 3.0</a></li>
							<li><a href="#">Coolkid</a></li>
						</ul>
					</div>
					<div>
						<h4>Adulti</h4>
						<ul>
							<li><a href="#">Learn Thai</a></li>
							<li><a href="#">Math Genius</a></li>
							<li><a href="#">Chemokid</a></li>
						</ul>
						<h4>Workshop</h4>
						<ul>
							<li><a href="#">Success 1.0</a></li>
							<li><a href="#">Moneymaker</a></li>
						</ul>
					</div>
				</div><!-- /cbp-hrsub-inner -->
			</div><!-- /cbp-hrsub -->
		</li>
		<li>
			<a href="#">Spettacoli</a>
			<div class="cbp-hrsub">
				<div class="cbp-hrsub-inner">
					<div>
						<h4>Bambini</h4>
						<ul>
							<li><a href="#">Learn Thai</a></li>
							<li><a href="#">Math Genius</a></li>
							<li><a href="#">Chemokid</a></li>
						</ul>
						<h4>Ragazzi</h4>
						<ul>
							<li><a href="#">Success 1.0</a></li>
							<li><a href="#">Moneymaker</a></li>
						</ul>
					</div>
					<div>
						<h4>Adulti</h4>
						<ul>
							<li><a href="#">Gadget Finder</a></li>
							<li><a href="#">Green Tree Express</a></li>
							<li><a href="#">Green Tree Pro</a></li>
							<li><a href="#">Holy Cannoli</a></li>
							<li><a href="#">Wobbler 3.0</a></li>
							<li><a href="#">Coolkid</a></li>
						</ul>
					</div>
				</div><!-- /cbp-hrsub-inner -->
			</div><!-- /cbp-hrsub -->
		</li>
		<li>
			<a href="#">Gallery</a>
			<div class="cbp-hrsub">
				<div class="cbp-hrsub-inner"> 
					<div>
						<h4>Spettacoli</h4>
						<ul>
							<li><a href="#">Catch the Bullet</a></li>
							<li><a href="#">Snoopydoo</a></li>
						</ul>
						<h4>Workshop</h4>
						<ul>
							<li><a href="#">Gadget Finder</a></li>
							<li><a href="#">Green Tree Express</a></li>
							<li><a href="#">Green Tree Pro</a></li>
						</ul>
					</div>
					<div>
						<h4>Laboratori</h4>
						<ul>
							<li><a href="#">Gadget Finder</a></li>
							<li><a href="#">Green Tree Express</a></li>
							<li><a href="#">Green Tree Pro</a></li>
						</ul>
					</div>
				</div><!-- /cbp-hrsub-inner -->
			</div><!-- /cbp-hrsub -->
		</li>
		<li>
			<a href="#">Blog</a>
		</li>
		<li>
			<a href="#">Contatti</a>
		</li>
	</ul>
</nav>
<script src="js/jquery.min.js"></script>
<script src="js/cbpHorizontalMenu.js"></script>
<script>
	$(function() {
		cbpHorizontalMenu.init();
	});
</script>