<section class="double-top">
	<ul class="Grid">
		<li>
			{% include seminari/Dare_voce.html %}
		</li>
		<li>
			{% include seminari/puppet_making.html %}
		</li>
		<li>
			{% include seminari/Attore_Arte_Comunicare.html %}
		</li>
		<li>
			{% include seminari/laboratorio-maschere-cuoio.html %}
		</li>
		<li>
			{% include seminari/lab_mario_gonzalez.html %}
		</li>
		<li>
			{% include seminari/seminario-recitazione-de-vito.html %}
		</li>
		<li>
			{% include seminari/seminario-attene.html %}
		</li>
		<li>
			{% include seminari/workshop-mimo-elena-serra.html %}
		</li>
		<li>
			{% include seminari/workshop-commedia-dellarte-carlo-boso.html %}
		</li>
		<li>
			{% include seminari/seminario-recitazione-naturale.html %}
		</li>
		
	</ul>
</section>
