{%
	include vetrina-corso.html
	title="Lab. “Action Rabbit - Base”"
	description="Lavorando sul “Metodo” l'allievo avrà modo di apprendere le basi della recitazione cinematografica e toccare con mano il lavoro 
su un set cinematografico. Alla fine del corso verranno girate professionalmente i monologhi studiate nel percorso formativo. In collaborazione con <b>Diego de Francesco</b>."
	data="Prova gratuita: 6.04.23 (20:30-22:30)"
	url="corsi/action_rabbit.html"
	imgurl="images/ACTIONRABBIT_BASE_80023.png"
%}
