{%
	include vetrina-corso.html
	title="'La Burla e i meccanismi comici' con Stivalaccio Teatro"
	description="Attraverso l’improvvisazione proveremo a capire gli incidenti che causano la risata, il rapporto complesso che l'uomo ha con gli oggetti e gli eccessi, per essere in grado di giocarci da soli o in gruppo. Imparare ad improvvisare ascoltando tutti gli stimoli che provengono dall’esterno e soprattutto da chi recita con noi sul palco."
	url="http://127.0.0.1:4000/corsi/corso_burla_meccanismicomici.html"
	imgurl="http://127.0.0.1:4000/images/stivalaccio_malato_squared.png"
%}