{%
	include vetrina-corso.html
	title='Workshop "Teatro di sopravvivenza. L'esigenza di essere comico."'
	description="Prima di recitare bisogna (ri)imparare a giocare. A lasciarsi andare, a essere liberi: dai giudizi, 
dalle critiche, dalle costrizioni; liberi nella voce, nel corpo, nello spazio, nelle relazioni con gli altri. Conoscere 
i propri limiti e le proprie forze. Dare libero sfogo alla creatività."
data="<b>Workshop 1:</b> 27-28 aprile 2019. <b>Workshop 2:</b> 4-5 maggio 2019. "
	url="corsi/corso_burla_meccanismicomici.html"
	imgurl="images/stivalaccio_800.jpg"
%}
