{%
	include vetrina-corso.html
	title='Corso con Stivalaccio Teatro'
	description="Ci divertiremo a creare cascate d’incidenti, mondi fantastici che si costruiscono e distruggono attraverso la pantomima e l’evocazione sonora. Lavoreremo sull’invenzione verbale e fisica, sul paradosso e sulla creazione di scene corali prendendo spunto dalla quotidianità.
	Energia, fantasia, ritmo e ascolto saranno i punti chiave del nostro lavoro. Corso in collaborazione con Stivalaccio Teatro."
	data="10 incontri (20:30 - 22:30) Date da definirsi"
	url="corsi/corso_burla_meccanismicomici.html"
	imgurl="images/stivalaccio_800.jpg"
%}
