{%
	include vetrina-corso.html
	title="Laboratorio di improvvisazione teatrale"
	description='L’Improvvisazione Teatrale è una disciplina comunemente fraintesa, infatti per molti "improvvisazione" è approssimazione e impreparazione, per alcuni è unicamente comicità o leggerezza, per noi è ispirazione estemporanea, un mondo di storie e personaggi e situazioni che si crea dal nulla, un imprevedibile e divertente gioco delle parti che sorprende e risveglia la voglia di creare. In collaborazione con <b>Claudia Gafá</b> e <b>Andrea Masiero</b>.'
	data="Giorno di presentazione: 9 ottore (20:30-22:30)"
	url="corsi/lab_improvvisazione_teatrale.html"
	imgurl="images/IMPRO_300.png"
%}
