{%
	include vetrina-corso.html
	title="Esploriamo il teatro. Laboratorio per bambini."
	description="Durante l’arco degli incontri verranno utilizzati diversi giochi teatrali utili a sviluppare le capacità creative e la fantasia. I partecipanti scopriranno ogni elemento dello spazio scenico imparando a rapportarsi con esso attraverso il corpo, i sensi e le loro stesse possibilità espressive."
	url="http://127.0.0.1:4000/corsi/laboratorio_teatrale_bambini.html"
	imgurl="http://127.0.0.1:4000/images/lab_bambini_squared.png"
%}