{%
	include vetrina-corso.html
	title="Laboratorio di cinema"
	description="Il corso è destinato a ragazzi e adulti appassionati di cinema. 
	Professionisti del settore che intendano approfondire nozioni riguardanti la <b>scrittura del soggetto, 
	scaletta, definizione dei personaggi, ripresa, scene e montaggio.</b>
	Il corso prevede 5 incontri di 4 ore più un sesto giorno di 8 ore destinato alle riprese di un cortometraggio finale.
	Sarà tenuto da <b>INDIVISION PRODUZIONI</b>."
	data="Giorno di presentazione: 15 ottobre 2018 (20:30-21:30)"
	url="/corsi/laboratorio_Cinema.html"
	imgurl="/images/cinema_800.jpg"
%}
