{%
	include vetrina-corso.html
	title="Lab. Scrittura creativa
	<!--description='Il laboratorio proporrà alcuni elementi dello studio della corretta pronuncia italiana (dizione), 
e alcune regole base del metodo Stanislavskij e del metodo delle “Azioni Fisiche elementari”di 
Carlos Maria Alsina, basato sul ultimo Stanislavskij.--> 
In collaborazione con <b>Laura de Luca</b>.'
	data="Giorno di presentazione: 8 ottobre 2019 (20:30-22:30)"
	url="corsi/the_play.html"
	imgurl="images/scritturacreativa_8001920.png"
%}
