
{%
	include vetrina-corso.html
	title="Lab. Recitazione "The play - Il gioco"
	description='Il laboratorio proporrà alcuni elementi dello studio della corretta pronuncia italiana (dizione), 
e alcune regole base del metodo Stanislavskij e del metodo delle “Azioni Fisiche elementari”di 
Carlos Maria Alsina, basato sul ultimo Stanislavskij. 
In collaborazione con <b>Diego de Francesco</b>.'
	data="Giorno di presentazione: 18 ottobre 2019 (20:00-22:00)"
	url="corsi/the_play.html"
	imgurl="images/the play_8001920.png"
%}
