{%
	include vetrina-corso.html
	title="Lab. “The play-Il gioco”"
	description="Il laboratorio proporrà alcuni elementi dello studio della corretta pronuncia italiana (dizione), e alcune regole base del metodo Stanislavskij e del metodo delle “Azioni Fisiche elementari”di Carlos Maria Alsina, basato sul ultimo Stanislavskij. In collaborazione con <b>Diego de Francesco</b>."
	data="In partenza a Ottobre 2020 (venerdì dalle 20:30 alle 22:30)"
	url="corsi/the_play.html"
	imgurl="images/theplay_2021.png"
%}
