{%
	include vetrina-corso.html
	title='Seminario di Recitazione "Dal testo alla macchina da presa" con Francesco De Vito'
	description="Il seminario si propone di affrontare l'analisi a 360° del personaggio e del testo dentro al quale è inserito.
	Verrà approfondito l'uso del gesto psicologico e il rapporto diretto con la macchina da presa."
	collaboration="In collaborazione con l'attore Francesco De Vito. Fra la sua filmografia ricordiamo: Un paese quasi perfetto (2016), Ce n'è per tutti (2009), Senza amore (2007), Cuore Sacro (2005), La Passione di Cristo (2004)."
	data="Date da definirsi"
	url="corsi/Seminario_francesco.html"
	imgurl="images/francesco_800.png"
%}