{%
	include vetrina-corso.html
	title="Seminario <em>Il corpo e l'azione</em> con Vittorio Attene"
	description="Nel percorso affronteremo, oltre a una lunga preparazione fisica in cui si esploreranno le diverse potenzialità di controllo ed espressive del nostro corpo, il modo di connettere il corpo con la parola al fine trovare quella verità necessaria per interpretare qualsiasi ruolo."
	collaboration=""
	data="Date da definirsi"
	url="corsi/Seminario_vittorio_attene.html"
	imgurl="images/vittorio_800.png"
%}