{%
	include insegnante.html
	name="Anita Orso"
	description="Sono una sognatrice e amo pensare che ognuno di noi dovrebbe fare il possibile per realizzare i propri sogni. 
Io ne ho così tanti che un cassetto non mi basta, ma uno di questi sogni ho iniziato a materializzarlo qualche anno fa. Se siete curiosi di sapere qual è, continuate a leggere!
Mi avvicino all’arte teatrale nel 2005 frequentando un breve corso propedeutico, con l’attore e performer Pippo Gentile.
Essendo anche una sostenitrice della lettura ad alta voce ed appassionata della scrittura, partecipo a seminari e corsi per perfezionarle: corsi di scrittura creativa con lo scrittore Luigi Dal Cin e con il critico letterario Marco Cavalli e corso di lettura espressiva con Eros Zecchini.
Dal 2011 al 2014 frequento il corso triennale di teatro con Theama Teatro di Vicenza.
Partecipo al seminario di regia e sceneggiatura cinematografica con il regista Giuseppe Ferrara, organizzato dalla Scuola Permanente di Cinematografia e Teatro di Padova.
Dal 2016 frequento i laboratori teatrali condotti dal regista Maurizio Panici fondatore del Teatro Argot di Roma. 
Approfondisco l’uso della voce e il monologo partecipando al Workshop con l’attore e regista Tiziano Panici e l’attore Alexandros Memetaj e m’incuriosisco del teatro danza con il danzatore e coreografo Yoris Petrillo. 
Collaboro con l’Associazione Teatris di Marostica come attrice e fotografa di scena e da diversi anni conduco laboratori teatrali nelle Scuole."
	img="images/Anita_800.jpg"
%}
