{%
	include insegnante.html
	name="Anita Orso"
	description="Sono una sognatrice e amo pensare che ognuno di noi dovrebbe fare il possibile per realizzare i propri sogni. 
Io ne ho così tanti che un cassetto non mi basta, ma uno di questi sogni ho iniziato a materializzarlo qualche anno fa.
Mi avvicino all’arte teatrale nel 2005 frequentando un breve corso propedeutico, con l’attore e performer Pippo Gentile.
Partecipo a seminari e corsi per perfezionarle: corsi di scrittura creativa con Luigi Dal Cin, Marco Cavalli e lettura espressiva con Eros Zecchini.
Dal 2011 al 2014 frequento i corsi di Theama Teatro di Vicenza e partecipo al seminario di regia e sceneggiatura cinematografica con il regista Giuseppe Ferrara.
Dal 2016 frequento i laboratori condotti dal regista Maurizio Panici. 
Approfondisco l’uso della voce e il monologo con Tiziano Panici e Alexandros Memetaj e m’incuriosisco del teatro danza con Yoris Petrillo. 
Collaboro con l’Associazione Teatris come attrice e fotografa di scena e conduco laboratori teatrali nelle Scuole."
	img="images/Anita_800.jpg"
%}
