
{%
	include insegnante.html
	name="Anna Maria Bortignon"
	description="Anna è amante del Teatro da sempre, dal 1998 approfondisce gli studi sulle discipline dell’arte teatrale e i metodi di insegnamento, dalla Commedia dell’arte ai concetti di Stanislavskij, Grotowski, Jacques Lecoq e il teatro di ricerca moderno. Ha coltivato molte esperienze mettendo in pratica questa passione soprattutto con bambini e ragazzi e ha realizzato per loro spettacoli teatrali portandoli a recitare su palcoscenici del territorio.
Dal 2015 è una delle fondatrici dell’Associazione Rabbit Hole A.F., un’idea nata per riunire appassionati di Teatro. I laboratori che vengono qui organizzati e ai quali collabora e partecipa approfondendone lo studio sono: recitazione, dizione e interpretazione, scrittura creativa, teatro di improvvisazione… e tra gli insegnanti vi sono i migliori professionisti come Mario Gonzalez,  Carlo Boso, Renzo Sindoca, Jorgelina Depretis, ecc.
Dal 2017 segue la regia e collabora con il Gruppo Minifestival di Romano d’Ezzelino alla messa in scena dell'annuale Minifestival presso l'Auditorium Vivaldi. Per esso ha scritto i testi teatrali sui temi del bullismo e del rispetto per la natura.
In Rabbit Hole Anna contribuisce alla realizzazione  delle rappresentazioni teatrali e organizza attività culturali rivolte al pubblico, nelle quali coinvolge gli allievi dei vari laboratori Rabbit Hole, promuovendo iniziative su argomenti storici, letterari o di attualità."
%}
