
{%
	include insegnante.html
	name="Anna Maria Bortignon"
	description="Anna è amante del Teatro da sempre, dal 1998 approfondisce gli studi sulle discipline dell’arte teatrale: dalla commedia dell’arte ai metodi 
di Stanislavskij, Grotowski, Lecoq. Ha coltivato molte esperienze mettendo in pratica questa passione e realizzato spettacoli teatrali coinvolgendo soprattutto i 
ragazzi. Dal 2015 è una delle fondatrici della Rabbit Hole A.F., i laboratori che vengono qui organizzati e sostiene, approfondendone lo studio, sono: recitazione, 
dizione, scrittura creativa, teatro di improvvisazione; tra gli insegnanti vi sono i migliori professionisti come M. Gonzalez, C. Boso, R. Sindoca, J. Depretis, 
ecc. Dal 2017 collabora con il Gruppo Minifestival di Romano per la messa in scena dell’annuale spettacolo canoro-teatrale scrivendo i testi sui temi del bullismo 
e del rispetto per la natura. In Rabbit Hole inoltre organizza attività culturali rivolte al pubblico, nelle quali coinvolge gli allievi dei vari laboratori."
%}
