
{%
	include insegnante.html
	name="Anna Maria Bortignon"
	description="Anna è amante del “Teatro” da sempre, agli inizi come spettatrice, poi come studio della sua Storia e in seguito dei Metodi di insegnamento 
frequentando annualmente Stage/Corsi/Laboratori per conoscerne tutte le sfaccettature: dalla Commedia dell’arte al pensiero di Stanislavskij, Grotowski, 
Jacques Lecoq e il teatro di ricerca moderno. L’amore per la lettura le fa approfondire anche lo studio della dizione e della lettura espressiva.
Anna è anche vicina ai bambini e ragazzi da sempre, per loro svolge da decenni attività di volontariato così pure dramatizzazioni/letture animate e laboratori; 
in seguito nulla le impedisce di dedicarsi alla realizzazione di spettacoli teatrali coinvolgendo soprattutto loro, che riesce a portare sui palcoscenici di 
teatri del territorio."
%}
