{%
	include insegnante.html
	name="Anna Farronato"
	description="Cantante e pianista, consegue il Diploma di II livello in Canto Jazz col massimo dei voti presso il Conservatorio di Vicenza. 
È attualmente iscritta all’Accademia del Musical di Castrocaro. Ha studiato direzione corale presso l’Accademia per Direttori di Coro di Aerco (Parma) 
e canto jazz e con Pete Churchill presso il Royal Conservatoire de Bruxelles. Nel 2019 porta in scena il proprio spettacolo Wicked Jazz, un adattamento 
del musical Wicked ad Oulu (Finlandia) e nel 2021 e 2022 porta il suo progetto Broadway, Baby! nel Jazz Club The Music Village di Bruxelles. 
Fanno parte della sua produzione discografica l'album progressive rock MAD FELLAZ II (2016), Rockquiem by La Rejouissance (2019) e The Vocal Jazz Serie, 
Vol. 4, pubblicato a suo nome e registrato con il pianista Massimo Faraò (2021)."
	img="images/anna_2022.jpg"
%}
