{%
	include insegnante.html
	name="Anna Bragagnolo"
	description="Inizia la sua formazione nel teatro e nella danza nel 1997 lavorando fin da subito con maestri nazionali e internazionali e conoscendo realtà 
  importanti del teatro.
Dal 2001 al 2013 collabora con la compagnia di teatro contemporaneo Anagoor (Leone d’argento 2018) come attrice, danzatrice e performer e in questi anni 
assieme alla compagnia riceve diversi premi. 
Nel 2013 riceve il Premio Città Impresa per il talento, le competenze e l’impegno nel campo delle arti performative e nello stesso anno diventa parte del 
team di danzatori e performer di Alessandro Sciarroni (Leone d’oro alla carriera 2019) per il progetto Folk’s e successivamente Prisma.
Formatasi come Atelierista del Movimento presso il Centro Internazionale Loris Malaguzzi e la Fonderia Nazionale della Danza/Aterballetto di Reggio Emilia, 
ha approfondito poi la sua formazione nello studio della pratica psicomotoria metodo Aucouturier e nel metodo Orff.
Nel 2019 è tra i panelist della conferenza “Art for all” presso il Mart di Rovereto, dove il tema centrale è l’inclusione, l’accessibilità e il potere 
dell’arte come veicolo di emozioni positive per tutti.
Lavora tra Italia e Europa."
	img="images/Anna_Bragagnolo_800.jpg"
%}
