{%
	include insegnante.html
	name="Barbara Scalco"
	description="Laureata in Discipline delle Arti, della Musica e dello Spettacolo e attrice professionista dal 2006. Nel 2015, ho fondato a Bassano del Grappa la “Rabbit Hole”: un’associazione che rappresenta, per me, il luogo in cui passione e sogni possono uscire dal cassetto e diventare realtà. Qui, organizzo corsi, workshop e seminari, riguardanti sempre il mondo dello spettacolo. Aiutata da grandi professionisti del mondo del teatro e della recitazione, si sperimenta e ci si reinventa, per valutare e provare nuovi e vecchi stili."
	img="images/barba-scalco-sul-palco.jpg"
%}
