{%
	include insegnante.html
	name="Daniele Tessaro"
	description="Dopo la Laurea in Filosofia mi sono diplomato all’Accademia Palcoscenico del Teatro Stabile del Veneto nel 2017. Alla formazione accademica 
ho poi aggiunto una serie di workshop formativi di clownerie, mimo, commedia dell’arte, recitazione cinematografica, recitazione teatrale. Ho lavorato con 
David Warren, Nanda Mohammad, Vladimir Olshansky, Luca Lazzareschi, Mario Gonzales, Enrico Bonavera, Massimo Navone, Giorgio Sangati e molti altri splendidi 
professionisti. Dal 2018 performer per Marina Abramovic. Mi considero un viaggiatore che vuole camminare."
	img="images/daniele_tessaro_800.png"
%}
