{%
	include insegnante.html
	name="Eleonora Fraccaro"
	description="Appassionata di danza e teatro, dopo diversi anni di studio in Italia si è specializzata in Danza Contemporanea conseguendo il titolo di Bachelor of Arts a pieni voti presso il conservatorio di danza e musica Trinity Laban di Londra. Nella sua esperienza artistica ha ballato per diversi coreografi quali Struan Leslie, Mata Saka, Lizzie Kew Ross, Svenja Buhl.. per nominarne alcuni. Si è esibita in diversi teatri e venues londinesi come Hayward Gallery, Roundhouse, Adelphi Theatre e, nel tempo, ha sviluppato un particolare interesse per le collaborazioni artistiche multidisciplinari in cui il corpo si fa portavoce di una storia attraverso la sua danza. Questa curiosità mi ha portato a lavorare di recente a fianco di una grande artista Butoh di fama internazionale, Aya Irizuki."
	img="images/Eleonora_pp_800.jpg"
%}
