{%
	include insegnante.html
	name="Francesca Tres"
	description="Dopo gli esordi nella commedia dell’arte (2004), si avvicina al teatro di ricerca. Nel 2008-2009 
frequenta il laboratorio di teatro-carcere al “Tam Teatro-musica” (Padova) condotto dai maestri Maria Cinzia Zanellato e 
Andrea Pennacchi. Nell’estate del 2008 partecipa al “Laboratorio di formazione teatrale da Baccanti di Euripide” condotto da 
Marco Baliani a Belluno, nel 2012 a “Puntozero: stage intensivo di teatro” con c.l. Grugher e Michelangelo Bellani de 
“La Società dello Spettacolo” (Umbria). Si perfeziona nella dizione con diversi maestri. Nel 2013 approfondisce 
l’espressività della voce e del corpo con Matteo Belli. Dal 2011 al 2016 si forma e collabora come attrice-performer 
con “T-quadra Teatro”.
	img="images/Francesca_800.jpg"
%}
