{%
	include insegnante.html
	name="Laura de Luca"
	description="Laura De Luca è un editor professionista.
Dopo una formazione di stampo classico, frequenta il corso di laurea in Scienze della Comunicazione (Editoria e Giornalismo) e, successivamente, quello in Lettere Moderne, decidendo di dedicarsi definitivamente alla 
scrittura creativa.
In costante aggiornamento, si specializza attraverso corsi, testi e autori americani, del calibro di Raymond Carver, William Strunk Jr, Donna Levin, Jessica P. Morrell, K. M. Weiland e James Scott Bell.
Nel 2012 fonda Penna d’Argento, un’agenzia letteraria che offre servizi di revisione e corsi per aspiranti autori.
Lettrice onnivora, adora il genere fantastico ed è appassionata di cinema e serie tv.
Crede nella crescita personale e nella possibilità di coltivare i talenti attraverso l’ardua strada della pubblicazione, perché ‘scrittori si nasce, autori si diventa’.
"
	img="images/Laura_deluca.jpg"
%}
