{%
	include insegnante.html
	name="Niki Lada"
	description="si è diplomata in canto lirico e teatro musicale presso il Conservatorio Municipale di Salonicco e in teatro musicale, teatro e danza 
  contemporanea presso il Conservatorio Statale di Salonicco, Grecia. Ha proseguito i suoi studi in canto lirico con un biennio presso il Conservatorio di 
  Musica di Perugia. Ha partecipato a numerose masterclass e corsi di perfezionamento con artisti di fama internazionale tra cui C. Studer, Alda Caiello, 
  Françoise Ferrand (Opera Nazionale di Parigi) ,Charon Coste (Conservatorio di Bordeaux), Asa Bäverstam, Susanna Eken, Kirsten Buhl Møller 
  (Danish Royal Academy of Music). Nel 2017 è stata scelta dal Divertimento Ensemble per l'Accademia Internazionale per musica contemporanea (IDEA) 
  che si svolge durante il festival Rondò a Monferrato. Si sta esibendo in qualita di solista con un repertorio tratto dal XX e XXI secolo. Collabora 
  attivamente con musicisti, compositori, registi, collettivi artistici ed ensemble di musica contemporanea tra cui Divertimento Ensemble, Suono Giallo 
  Ensemble, Meta-Ksi, 2.0, Alexandros Spyrou, Marco Bellussi, Alessia Damiani. Attualmente sta eseguendo anche prime assolute di brani a lei dedicati e si è 
  esibita in diversi luoghi, residenze e festival tra cui: Fabbrica del Vapore di Milano, Teatro Litta di Milan,Delian Academy, Il Suono Contemporary Music Week, 
  Festival dei Due Mondi di Spoleto. Ha inoltre eseguito opere di musica sacra e barocca  e ha lavorato come mimo e attrice collaborando con Festival e 
  associazioni come il Barocco Europeo. Ha partecipato in svariate performance con svariati artisti tra cui Marina Abramovich, Marianna Andrigo e Aldo Aliprandi 
  in luoghi e festival come The Serpentine Galleries e la Biennale di Salonicco e collabora con performer, audio e video artist, esplorando i limiti della voce 
  tramite l’improvvisazione."
	img="images/Niki_Lada_800.jpg"
%}
