{%
	include insegnante.html
	name="Niki Lada"
	description="Diplomata in canto lirico e teatro musicale si sta esibendo in qualita di solista con un repertorio tratto soprattutto dal XX e XXI secolo. 
Collabora attivamente con artisti, collettivi artistici ed ensemble di musica contemporanea tra cui Divertimento Ensemble, Suono Giallo Ensemble, 
Meta-Ksi, 2.0, Alexandros Spyrou, Marco Bellussi,Alessia Damiani. Attualmente sta eseguendo anche prime assolute di brani a lei dedicati e si è esibita in 
diversi luoghi e festival tra cui: Fabbrica del Vapore di Milano, Teatro Litta di Milano, Il Suono Contemporary Music Week, Festival dei Due Mondi di Spoleto. 
Ha inoltre eseguito opere di musica sacra e barocca  e ha lavorato come mimo e attrice collaborando con Festival e associazioni come il Barocco Europeo.
Ha partecipato in svariate performance con svariati artisti tra cui Marina Abramovich, Marianna Andrigo e Aldo Aliprandi in luoghi e festival come The Serpentine
Galleries e la Biennale di Salonicco e collabora con performer, audio e video artist, esplorando i limiti della voce tramite l’improvvisazione."
	img="images/Niki_Lada_800.jpg"
%}
