{%
	include insegnante.html
	name="Stefania Meneghini"
	description="Diplomata all’accademia MTS - Musical! The School di Milano e laureata in Scienze della Comunicazione all'Università degli Studi di Verona. 
Ha ottenuto diplomi alla University of West London per il Musical: DipLCM nel 2018, ALCM e Popular Music Theory Grade 5 nel 2019 e tuttora mantiene attivi i suoi studi con lezioni e stage di aggiornamento. Attualmente lavora come Performer di Musical in Italia. Ha iniziato fin da piccola a studiare danza inserendo, in seguito, il canto e la recitazione arrivando poi col tempo e con lo studio ad unirle e lavorare con tutte e tre le discipline assieme.
Ha partecipato ad alcuni spettacoli come “Musica Ribelle” swing a Milano, “Rocky Horror Picture Show Maison Tribute” nei panni di Magenta, “Hair 50anniversary” nei panni di Dionne e in “Pippin” nel ruolo del Capocomico."
	img="images/Stefania_meneghini.jpg"
%}
