
{%
	include insegnante.html
	name="Stefano Dallas"
	description="Raccontare cose su di me è un po' come domandare all'oste se il suo vino è buono: potrei stupirvi con FX speciali, potrei iniziare dicendo : “ho visto cose che voi umani...”, oppure potrei dirvi che ho fatto questo e quello o che sono stato di qua e di là… di cose ne avrei da raccontare ma oltre ad annoiarvi, non riuscireste a verificare se è tutto autentico. 
Alla fine quello che conta sono le vostre orecchie, i vostri occhi, le vostre sensazioni e la motivazione che vi spinge a lavorare con me.
Il mio lavoro si basa su questo: qualità, professionalità ed esperienza."

	img="images/Stefano_800.jpg"
%}
